<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.gmfbilu.superapp.module_view">

    <application
        android:theme="@style/view_AppTheme"
        tools:replace="android:theme">
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>