<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.gmfbilu.superapp.module_fragment">

    <application
        android:name="debug.FragmentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lib_base_ic_launcher"
        android:label="@string/module_fragment_app_name"
        android:roundIcon="@mipmap/lib_base_ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/lib_base_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".module.MainActivity">

        </activity>

        <activity android:name="debug.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>