<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.gmfbilu.superapp.module_util">

    <application
        android:theme="@style/lib_base_AppTheme">

        <!--android N 以上收回对文件访问的权限 ，因此要在此声明权限
            android:exported="false"  表示对其他应用不可用
            android:grantUriPermissions="true"  授予临时权限
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.gmfbilu.superapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_base_provider_path"/>
        </provider>


        <activity android:name=".MainActivity">
        </activity>
        <service
            android:name=".aidl.AIDLService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.gmfbilu.superapp.module_util.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>