<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gmfbilu.superapp">

    <application
        android:name=".SophixStubApplication"
        android:allowBackup="false"
        android:icon="${APPLICATION_ICON}"
        android:label="${APP_NAME}"
        android:roundIcon="${APPLICATION_ICON}"
        android:supportsRtl="true"
        android:theme="@style/lib_base_AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:icon,android:roundIcon,android:allowBackup">

        <activity android:name=".MainActivity">
            <intent-filter>
                <!--action（动作）：用来表现意图的行动-->
                <action android:name="android.intent.action.MAIN" />
                <!--category（类别）：用来表现动作的类别-->
                <category android:name="android.intent.category.LAUNCHER" />
                <!--data（数据）：表示与动作要操纵的数据-->
                <!-- <data android:scheme="http"/>-->
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${APPLICATION_ID}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_base_provider_path" />
        </provider>

        <!--Sophix热修复，IDSECRET/APPSECRET将被用于计量计费-->
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="${hotfix_IDSECRET}" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="${hotfix_APPSECRET}" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="${hotfix_RSASECRET}" />


    </application>
</manifest>
