<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.gmfbilu.superapp">

    <application
        android:name=".SuperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lib_base_ic_launcher"
        android:label="@string/lib_base_app_name"
        tools:replace="android:theme,android:label,android:icon,android:roundIcon"
        android:roundIcon="@mipmap/lib_base_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/lib_base_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            tools:replace="android:authorities"
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.gmfbilu.superapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_base_provider_path"/>
        </provider>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

    </application>
</manifest>
